<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">English Novels</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
               <a href="" class="dropdown-item">Book Title</a>
               <a href="" class="dropdown-item">Author</a>
               <a href="" class="dropdown-item">Description</a>
               <a href="" class="dropdown-item">Price</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">Mathematics Books</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
                <a href="" class="dropdown-item">Book Title</a>
                <a href="" class="dropdown-item">Author</a>
                <a href="" class="dropdown-item">Description</a>
                <a href="" class="dropdown-item">Price</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">Science Books</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
               <a href="" class="dropdown-item">Book Title:</a>
               <a href="" class="dropdown-item">Author:</a>
               <a href="" class="dropdown-item">Description</a>
               <a href="" class="dropdown-item">Price</a>
            </div>
        </li>
    </ul>
</div>