<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">Your shopping cart</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
               <a>Image</a>
               <a>Product</a>
               <a>Quantity</a>
               <a>Remove</a>
               <a>Unit price</a>
               <a>Price</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">Your shopping cart</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
               <a>Image</a>
               <a>Product</a>
               <a>Quantity</a>
               <a>Remove</a>
               <a>Unit price</a>
               <a>Price</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-product-link" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">Your shopping cart</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-product-link">
               <a>Image</a>
               <a>Product</a>
               <a>Quantity</a>
               <a>Remove</a>
               <a>Unit price</a>
               <a>Price</a>
            </div>
        </li>
    </ul>
</div>